<!-- Just an image -->
<nav class="navbar inverse2">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-home fa-1x" style="color:#fff"> Regresar33</i>
    </a>
  </div>
</nav>
<div class="fondo">
    <section>
        <mdb-carousel class="carousel  carousel-fade" [animation]="'fade'" style="height: 350px;">
            <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/principal.svg" alt="CONVOCATORIA Primer Foro Virtual de Participación Sosial, en torno a las Prácticas de enseñanza y de aprendizaje de alumnos con ceguera o debilidad visual en México ">
            </mdb-carousel-item>
        </mdb-carousel>
    </section>
    
    <div class="container mt-5" >
        <div class="text-center">
            <a mdbBtn size="lg" mdbWavesEffect class="mb-lg-0 mb-4 g-noe" href="../../assets/docs/Convocatoria_ForoVirtual_0312_OK.pdf" download>Descargar convocatoria </a><br><br>
        </div>
        <p class="text-justify">Con fundamento en los artículos 3o. de la Constitución Política de los Estados Unidos Mexicanos; 12, fracciones II y VII de la Ley General para la Inclusión de las Personas con Discapacidad; 16, fracciones VI y VII, 22, 61, 62, 63, 64, 65, 66, 67, 68, 113, fracciones IV, V y VI de la Ley General de Educación, y 23, fracciones I, II y VII, del Reglamento Interior de la Secretaría de Educación Pública, la Subsecretaría de Educación Básica, a través de la Dirección General de Materiales Educativos de la Secretaría de Educación Pública,</p>
        <p class="text-center"><b>CONVOCA</b></p>
        <p class="text-justify">A maestros, investigadores y representantes de organizaciones nacionales e internacionales no gubernamentales que intervienen en la enseñanza y aprendizaje en la educación básica de los alumnos con ceguera o debilidad visual; a los alumnos con esta discapacidad, así como a madres y padres de familia o tutores a participar en el Primer Foro Virtual de Participación Social, en torno a las <strong>“Prácticas de enseñanza y de aprendizaje de alumnos con ceguera o debilidad visual en México”</strong>, a celebrarse del 28 al 31 de marzo de 2022, de acuerdo con las siguientes</p>
        <p class="text-center"><b>BASES</b></p>
        <p class="text-justify"><b>PRIMERA.</b> El foro virtual será establecido por un Comité Organizador presidido por el Director General de Materiales Educativos, Marx Arriaga Navarro, con la finalidad de actualizar y mejorar la edición, producción de libros y materiales didácticos, de acuerdo con sus atribuciones señaladas en artículo 23, del Reglamento Interno de la Secretaría de Educación Pública. Se expedirá una constancia a cada participante, sin que medie algún otro incentivo o remuneración.</p>
        <p class="text-justify"><b>SEGUNDA. Participantes</b><br>Podrán participar:</p>
        <p style="margin-left: 5%;">
            <b>1. </b>Alumnos con ceguera o debilidad visual y madres, padres de familia o tutores; <br>
            <b>2. </b>Investigadores educativos interesados en la ense&ntilde;anza y aprendizaje de alumnos con ceguera o debilidad visual; <br>
            <b>3. </b>Maestros, docentes normalistas o pedagogos, que trabajen con alumnos con ceguera o debilidad visual; <br>
            <b>4. </b>Personas con discapacidad visual interesadas en aspectos pedag&oacute;gicos de la ense&ntilde;anza a personas con esta discapacidad; <br>
            <b>5. </b>Desarrolladores de materiales did&aacute;cticos para personas con ceguera o con debilidad visual, y <br>
            <b>6. </b>Representantes de organizaciones nacionales e internacionales no gubernamentales enfocadas en la ense&ntilde;anza y aprendizaje de las personas ciegas o débiles visuales. <br>
        </p>
        <strong>TERCERA. &nbsp;Caracter&iacute;sticas de las participaciones</strong>
        <p class="text-justify">Los alumnos con ceguera o discapacidad visual, as&iacute; como sus madres, padres, tutores o familiares podr&aacute;n compartir sus experiencias sobre los retos a los que se enfrentan en el aula, la adquisici&oacute;n de conocimientos, los materiales did&aacute;cticos con los que cuentan, as&iacute; como sugerir y proponer aspectos que sean necesarios para mejorar el proceso de ense&ntilde;anza y aprendizaje en escuelas de educaci&oacute;n b&aacute;sica. Dichas experiencias se podr&aacute;n presentar a trav&eacute;s de videos, audios o escritos en soporte digital.</p>
        <p class="text-justify">Los maestros, investigadores y representantes de instituciones nacionales o internacionales presentar&aacute;n&nbsp;<strong>ponencias</strong>&nbsp;con extensi&oacute;n m&aacute;xima de ocho cuartillas en las que compartan su experiencia y propuestas en alguno&nbsp;de los ejes tem&aacute;ticos con estas secciones sugeridas:</p>
                
            <p style="margin-left: 5%;">
                <b>a. </b>Problem&aacute;ticas principales <br>
                <b>b. </b>Estrategias de intervenci&oacute;n y resiliencia <br>
                <b>c. </b>Innovaciones desarrolladas <br>
            </p>
        <p>En ambos casos, los trabajos deberán tener estas características:</p>    
            <p style="margin-left: 5%;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  </svg>Ser in&eacute;ditos. <br>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  </svg>Mostrar coherencia interna. <br>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  </svg>Contar con un m&aacute;ximo de cinco autores. <br>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  </svg>Pertenecer a alguno de los ejes tem&aacute;ticos. <br>
            </p>
        <p>Las participaciones se organizarán en los tres ejes temáticos y componentes siguientes:</p>
        <p style="margin-left: 5%;"><strong>1. Educación del alumno con ceguera</strong></p>
        <p style="margin-left: 10%;">
            <b>1.1.</b>	Panorama nacional sobre la situación educativa en alumnos ciegos.<br>
            <b>1.2.</b>	El trabajo y la comunicación en el aula entre maestros y alumnos ciegos.<br>
            <b>1.3.</b>	La incidencia del entorno familiar, escolar y social en la educación del alumno con ceguera.<br>
            <b>1.4.</b>	El Libro de Texto Gratuito adaptado a Sistema Braille. Alcances y desafíos.<br>
            <b>1.5.</b>	Los materiales didácticos adaptados a Sistema Braille y textos audibles complementarios.<br>
            <b>1.6.</b>	Estrategias pedagógicas a favor de los alumnos con ceguera.<br>
            <b>1.7.</b>	Retos de la Nueva Escuela Mexicana hacia una educación inclusiva, equitativa, con perspectiva de género y de excelencia, desde el nivel inicial.<br>
            <b>1.8.</b>	Trayectorias de egresados.
        </p>
        <p style="margin-left: 5%;"><strong>2. Educación del alumno con debilidad visual</strong></p>
        <p style="margin-left: 10%;">
            <b>2.1.</b>	Panorama nacional sobre la situación educativa en alumnos con debilidad visual.<br>
            <b>2.2.</b>	El trabajo y la comunicación entre maestros y alumnos con debilidad visual. <br>
            <b>2.3.</b>	La incidencia del entorno familiar, escolar y social en la educación del alumno con debilidad visual.<br>
            <b>2.4.</b>	El Libro de Texto Gratuito adaptado a Macrotipo. Alcances y desafíos.<br>
            <b>2.5.</b>	Los materiales didácticos adaptados a Macrotipo y textos audibles complementarios. <br>
            <b>2.6.</b>	Estrategias pedagógicas a favor de alumnos con debilidad visual.<br>
            <b>2.7.</b>	Retos de la Nueva Escuela Mexicana hacia una educación inclusiva, equitativa, con perspectiva de género y de excelencia, desde el nivel inicial.<br>
            <b>2.8.</b>	Trayectorias de egresados.<br>
    
        </p>
        <p style="margin-left: 5%;"><strong>3. Retos de los alumnos con ceguera o debilidad visual, madres, padres de familia o tutores</strong></p>
        <p style="margin-left: 10%;">
            <b>3.1.</b>	Los retos a los que se enfrentan los alumnos con ceguera.<br>
            <b>3.2.</b>	Los retos a los que se enfrentan los alumnos con debilidad visual.<br>
            <b>3.3.</b>	Los retos a los que se enfrentan madres, padres o tutores ante el entorno escolar, social y familiar.<br>
    
        </p>
        <p><strong>CUARTA.  Propuestas de participación <br>Formatos </strong></p>
        <p class="text-justify">Los participantes podrán elegir el formato que les sea de mayor facilidad para integrar su ponencia, reconociendo que son los titulares de los derechos, a fin de garantizar el reconocimiento de la legislación vigente en el ámbito de derechos de autor:</p>
        <p style="margin-left: 5%;"><strong>Formato escrito</strong></p>
        <p style="margin-left: 10%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>M&aacute;rgenes de 2 cm por lado. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Fuente Arial, 11 puntos, interlineado sencillo. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Referencias en formato APA. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Los gr&aacute;ficos, dibujos o fotograf&iacute;as, en formato jpg. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>T&iacute;tulo del trabajo en may&uacute;sculas y centrado. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Nombre completo del autor (es), COMENZANDO POR EL PRIMER APELLIDO alineado a la izquierda y el nombre subrayado de quien expondr&aacute; el trabajo. Se recomienda revisar cuidadosamente los nombres y apellidos de los autores, ya que aparecer&aacute;n tal y como sean enviados en la cronolog&iacute;a del programa para la presentaci&oacute;n de los participantes en el Primer Foro Virtual de Participaci&oacute;n Social, as&iacute; como en la constancia. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Las extensiones para estos archivos pueden ser .doc, .docx o .pdf. <br>
        </p>
        <p style="margin-left: 5%;"><strong>Formato Audiovisual</strong></p>
        <p style="margin-left: 10%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Formato WMA, MP4, AVI, entre otros de fácil reproducción. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Duración de 3 a 5 minutos. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Voz clara y exento de ruidos externos. <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Grabado con cámara en posición horizontal. <br>
        </p>
        <p class="text-justify">Cualquiera de los formatos con las participaciones, se anexarán en el formulario de Registro de Inscripción que se indica más adelante.</p>
        <p><strong>QUINTA. Presentación</strong>  </p>
        <p class="text-justify">De acuerdo con la programación del Comité organizador de las ponencias, se asignarán los tiempos de presentación, así como los datos de conexión para el foro virtual, información que se notificará a los autores en la carta de aceptación respectiva que recibirán en el correo registrado, del 21 al 25 de febrero de 2022.</p>
        <p><strong>SEXTA. Del Comité Organizador</strong>  </p>
        <p class="text-justify">Para lograr el objetivo de la presente convocatoria, se contará con el Comité Organizador de la Dirección General de Materiales Educativos de la Secretaría de Educación Pública, que estará integrado por:</p>
        <p  style="margin-left: 5%;">
            <b>I. </b>Titular de la Dirección General de Materiales Educativos. <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Marx Arriaga Navarro
            <br>
            <b>II. </b>
                Titular de la Dirección de Desarrollo e Innovación de Materiales Educativos. <br>
                &nbsp;&nbsp;&nbsp;&nbsp; Denisse Ossiris Hernández Carbajal 
            <br>
            <b>III. </b>
                Titular de la Dirección de Evaluación y Distribución. <br>
                &nbsp;&nbsp;&nbsp;&nbsp; Raquel Bernabe Ramos 
            <br>
            <b>IV. </b>
                Titular de la Dirección de Medios Audiovisuales e Informáticos. <br>
                &nbsp;&nbsp;&nbsp;&nbsp; Alfonso Herrera Peña
    
            <br>
        </p>
        <p class="text-justify">El Comité Organizador de la Dirección General de Materiales Educativos de la Secretaría de Educación Pública tendrá las siguientes funciones:</p>
        <p type="I" style="margin-left: 5%;">
            <b>I. </b>Dirigir las funciones de los subcomités Científico y de Difusión, que organizarán las participaciones en el Primer Foro Virtual de Participación Social y la difusión de la presente convocatoria. <br>
            <b>I. </b>Diseñar la convocatoria, recabar, sistematizar información para la participación relacionada con las ponencias de carácter académico, coordinar ruta de trabajo con colaboradores y con el subcomité de Difusión. <br>
        </p>
        <p class="text-justify">Asimismo, se contará con los siguientes subcomités:</p>
        <p  style="margin-left: 5%;">
            <b>1. </b>Científico. <br>
            <b>2. </b>Difusión. <br>
        </p>
        <p><strong>SÉPTIMA. Registro de Inscripción </strong></p>
        <p class="text-justify">El registro deberá realizarse a través de un formulario, de acuerdo con el tipo de participante:</p>
        <p><strong>Registro de alumnos con ceguera o debilidad visual </strong></p>
        <div class="text-center">
            <a mdbBtn size="lg" mdbWavesEffect class="mb-lg-0 mb-4 g-noe" href="https://forms.gle/1V7hZS5s6LcjUVMv8" target="_blank">Regístrate aquí </a>
        </div>
        <br>
        <p class="text-justify">Los alumnos con ceguera o discapacidad visual deberán ser registrados por un adulto quien proporcionará: </p>
              <p style="margin-left: 5%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>Nombre completo <br>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>Sexo y edad <br>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>Estado y localidad <br>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>Tel&eacute;fono celular <br>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>Correo electr&oacute;nico <br>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>Eje tem&aacute;tico y componente <br>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>&Uacute;ltimo grado escolar acreditado <br>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>Autorizaci&oacute;n del padre, madre o tutor en caso de que sea menor de edad<br> <br>
              </p>
        <p><strong>Registro de madres y padres de familia o tutores </strong></p>
        <div class="text-center">
            <a mdbBtn  size="lg" mdbWavesEffect class="mb-lg-0 mb-4 g-noe" href="https://forms.gle/Qas29HQfsDxhYfsR7" target="_blank">Regístrate aquí </a>
        </div>
        <br>
        <p>Las madres y padres de familia o tutores indicarán:</p>
        <p style="margin-left: 5%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Nombre completo <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Sexo y edad <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Estado y localidad <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Teléfono celular <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Correo electrónico <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Eje temático y componente <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Último grado acreditado del hijo o hija con discapacidad visual <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Edad del hijo o hija <br>
        </p>
        <p  class="text-justify"><strong>Registro de maestros, investigadores o representantes de organizaciones nacionales e internacionales no gubernamentales</strong></p>
        <div class="text-center">
            <a mdbBtn size="lg" mdbWavesEffect class="mb-lg-0 mb-4 g-noe" href="https://forms.gle/ouCH5mNpbGhimKhY7" target="_blank">Regístrate aquí </a>
        </div>
        <p>Datos que se registran:</p>
        <p style="margin-left: 5%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Nombre completo <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Sexo y edad <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Estado y localidad <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Teléfono celular <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Correo electrónico <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Datos del centro de trabajo <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Eje temático y componente <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Años de servicio educativo, para maestros <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Nivel máximo de estudios concluidos <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>Curriculum vitae actualizado <br>
        </p>
        <p><strong>OCTAVA. Criterios de selección</strong></p>
        <p>La inscripción es gratuita y no se garantiza que los participantes sean seleccionados si no cumplen con las bases de la convocatoria. <br>
            Los criterios que serán utilizados en el procedimiento para la selección de las ponencias para el Primer Foro Virtual de Participación Social son los siguientes:
        </p>
    
        <p type="1" style="margin-left: 5%;"> 
            <b>1. </b>Cumplir con todos los requisitos de esta convocatoria. <br>
            <b>2. </b>El orden en el que fueron registradas.  <br>
            <b>3. </b>El cupo disponible por mesas plausibles de programación dentro del lapso del 28 al 31 de marzo de 2022. <br>
        </p>
        <p>El fallo del Subcomité Científico es inapelable. </p>
        <style>
            tr {
                border-bottom: 1pt solid black;
                }
            </style>
        <table style="margin-left: 5%;">
            <tbody>
                <tr>
                    <td class="text-center p-3" >
                        <p >28 de enero de 2022</p>
                        
                    </td>
                    <td class="text-justify">
                        <p >Fecha l&iacute;mite para registrar su inscripci&oacute;n y enviar su ponencia.</p>
                        
                    </td>
                </tr>
                <tr>
                    <td class="text-center p-3">
                        <p >21 al 25 de febrero de 2022</p>
                    </td>
                    <td class="text-justify">
                        
                        <p >Se informa el programa a los participantes a trav&eacute;s del correo electr&oacute;nico de cada uno,&nbsp;as&iacute; como en la p&aacute;gina <a href="https://dgme.sep.gob.mx/convocatorias" target="_blank">https://dgme.sep.gob.mx/convocatorias</a> y en la red social de Facebook de la Direcci&oacute;n General de Materiales Educativos.&nbsp;</p>
                        
                    </td>
                </tr>
                <tr>
                    <td class="text-center p-3">
                        
                        <p >28 al 31 de marzo de 2022</p>
                    </td>
                    <td class="text-justify">
                        
                        <p >Realizaci&oacute;n del Primer Foro Virtual de Participaci&oacute;n Social, en torno a las &ldquo;Pr&aacute;cticas de ense&ntilde;anza y de aprendizaje de alumnos con ceguera o debilidad visual en M&eacute;xico&rdquo;.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <p><strong>DÉCIMA. Situaciones no previstas </strong></p>
        <p class="text-justify">
            Cualquier controversia y asunto no previsto en esta convocatoria será resuelto por el Comité Organizador.
        </p>
        <p class="text-justify">
            Para aclaración de dudas o información adicional, diríjase al Comité Organizador a través de la dirección de correo electrónico: <strong>brailleymacrotipo@nuevaescuela.mx</strong> 
        </p>
        <p class="text-justify">
            Al inscribirse, los participantes aceptan de manera irrestricta los criterios de esta convocatoria. El dictamen del Comité organizador respecto a los participantes seleccionados será inapelable.
        </p>
    
        <p class="text-center">
            <b>Marx Arriaga Navarro</b>
            <br> Director General de Materiales Educativos <br>
            de la Secretaría de Educación Pública. 
            <br> <br>
    
        </p>
    </div>

</div>

        
   