//color de header gob
.inverse2 {
    background-color: #0C231E !important;
    border-color: transparent !important;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}