<section>
    <mdb-carousel class="carousel  carousel-fade" [animation]="'fade'" style="height: 350px;">
        <mdb-carousel-item>
            <img class="d-block w-100" src="assets/img/principal_convocatorias.svg" alt="Convocatorias para el rediseño de los libros de texto gratuitos">
        </mdb-carousel-item>
    </mdb-carousel>
</section>

<div class="container">
    <p class="text-center mt-5">LA SECRETARÍA DE EDUCACIÓN PÚBLICA A TRAVÉS DE LA DIRECCIÓN GENERAL DE MATERIALES EDUCATIVOS <br>
        DE LA SUBSECRETARÍA DE EDUCACIÓN BÁSICA Y LA ESTRATEGIA NACIONAL DE LECTURA, INVITA A PARTICIPAR <br>
        EN EL DISEÑO DE LOS LIBROS DE TEXTO GRATUITOS.</p>
    <section class="my-5">
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>CONVOCATORIA</strong></h3>
                <!-- Excerpt -->
                <p>Primer Foro Virtual de Participación Social “Prácticas de enseñanza y de aprendizaje de alumnos con ceguera o debilidad visual en México</p>
                <!-- Post data -->
                <p>Fecha límite de registro: 28 de enero 2022</p>
                <!-- Read more button -->
                <a mdbBtn gradient="aqua" size="lg" mdbWavesEffect routerLink="/braile" class="mb-lg-0 mb-4">conocer más</a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-5">

                <!-- Featured image -->
                <div class="view overlay rounded  waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="assets/img/01_ceguera.png">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <!--<hr class="my-5">-->
    
    
    </section>
    <!-- Section: Blog v.1 -->

</div>